// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background: #5bc5a7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #48be9d;
  box-shadow: 3px grey;
}

.logo {
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 10px;
  font-weight: lighter;
  font-size: 18px;
}

.not-logged-in {
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.header .signup {
  height: 50px;
  width: 50px;
  background: orange;
}

.header .login {
  height: 50px;
  width: 50px;
  background: #48be9d;
}