.modal-child .bill {
  width: 350px;
  min-height: 394px;
  top: 50%;
  border: 1px solid #999;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

.modal-child .bill header {
  background: $main-green;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #36977b;
  text-shadow: 0 -1px 0 #318a71;
  font-size: 18px;
  font-weight: bold;
}

.modal-child .associated-list {
  position: relative;
  display: flex;
  border-bottom: 1px solid #bbb;
  padding: 4px;
  font-size: 14px;
  align-items: center;
}

.modal-child .associated-input input {
  outline: none;
  border: none;
}

.associated-list h3 {
  align-self: flex-start;
  margin: 6px;
  white-space: nowrap;

}

.associated-list li {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 15px;
  font-size: 14px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 8px;
  margin: 3px;
}

.associated-dropdown {
  position: absolute;
  background: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
  border-bottom: 1px solid #bbb;
  width: 95%;
}

button.association-button {
  width: 100%;
  display: block;
  text-align: start;
  padding: 10px;
}

button.association-button:hover {
  background: #eee;
}

.modal-child .i-border i {
  padding: 25px 8px;
  background: #eee;
  font-size: 32px;
  color: black;
  text-align: center;
  text-justify: center;
  border: 1px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
}

.modal-child .i-border {
  background: white;
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  margin-right: 16px;
}

.second-modal button {
  width: 100%;
  display: block;
  text-align: start;
  padding: 10px;
}

.second-modal button:hover {
  background: #eee;
}

.middle-form {
  display: flex;
  margin: 10px;
}

.middle-form-inputs input {
  outline: none;
  border: none;
  // border-bottom: 1px dashed #ccc;
  color: #333;
  font-family: 'Lato', 'sans-serif';
  max-width: 180px;
}

.middle-form-inputs {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.middle-form .description {
  font-size: 20px;
  border-bottom: 1px dashed #ccc;
}

.middle-form .amount {
  border-bottom: 1px dashed #ccc;
  display: flex;
  align-items: baseline;
}

.middle-form label.amount {
  font-size: 20px;
}

.middle-form .amount input {
  font-size: 36px;
  margin-left: 10px;
}

.middle-form .description::placeholder {
  font-size: 20px;
  font-family: 'Lato', 'sans-serif';
  color: #ccc;
}

.middle-form .amount::placeholder {
  font-size: 20px;
  font-family: 'Lato', 'sans-serif';
  color: #ccc;
}

.form-split-context {
  font-size: 14px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.form-split-context .green-text {
  margin: 3px; 
  color: $main-green;
  background: #eee;
  border: 1px dashed #ccc;
  padding: 3px;
  border-radius: 10px;
}

input.bill-submit {
  font-size: 15px;
  border-radius: 5px;
  background: #5cc5a7;
  color: #fff;
  text-shadow: 0 -1px 0px #318a71;
  width: 59px;
  height: 35px;
  align-self: flex-end;
  margin: 8px;
}