// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background: $main-green;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #48be9d;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  height: 48px;
  padding: 0 250px;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.logo {
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 12px;
  font-weight: lighter;
  font-size: 20px;
}

.not-logged-in {
  display: flex;
  width: 17%;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
}

.dropdown {
  font-size: 16px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
}

.logged-in {
  position: relative;
  display: flex;
  // width: 17%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-shadow: 0 -1px 0 #318970;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.logout-button:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
  position: absolute;
  top: -7px;
  right: 10px;
}

.logged-in img {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin-right: 10px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border: 1px solid #3eaf8f;
}

.arrow-down {
  margin: 5px;
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  opacity: 0.3;
}

.logged-in:hover {
  background: #48be9d;
  cursor: pointer;
}

.logged-in:hover .arrow-down {
  opacity: 1.0;
}

.logged-in .logout-button {
  background: white;
  position: absolute;
  top: 49px;
  color: black;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 3px;
  width: 150px;
  right: 0px;
  height: 35px;
}

.logout-button:hover {
  cursor: pointer;
  background: #48be9d;
  color: white;
}

.header .signup {
  height: 28px;
  width: 65px;
  background: #ff652f;
  box-sizing: border-box;
  padding: 6px 3px 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #c83400;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.header .login-logout {
  height: 28px;
  width: 65px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 #318970;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.header .errors {
  position: absolute;
  top: 49px;
  background: #c45;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 250px;
}